* {
  box-sizing: border-box;
  color: #cfc82f;
}
.forma {
  width: 30%;
  margin-left: 35%;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #222536;
}
header,
footer {
  width: 100%;
  background-color: #de8704;
  padding: 20px;
  font-size: 25px;
  color: #cfc82f;
}
.name {
  margin-left: 20%;
  margin-top: 20px;
  font-size: 20px;
}
input,
select {
  height: 30px;
  color: black;
}
.date,
.email,
.phone,
.password,
.confirm_password,
.checkbox,
.jins,
.mamlakat {
  margin-left: 20%;
  font-size: 20px;
  margin-top: 20px;
}

.jins,
.gender,
.mamlakat,
.password,
.confirm_password,
.checkbox {
  display: flex;
  font-size: 18px;
}
.sub,
.can {
  background-color: green;
  font-size: 20px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.sub {
  margin-left: 50%;
}
.can {
  background-color: red !important;
}
